@import "~common/css/main.scss";
@import "../../node_modules/bootstrap/dist/css/bootstrap.css";

.items-container {
    display: flex;
    flex-wrap: wrap;
}

.dir {
    width: 48px;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px;
}

.dir:hover {
    background-color: #6c6c6c75;
}

.item-icon {
    margin: 4px;
}

.item-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    margin: 0 2px;
}

.context-menu {
    background-color: #e8e8e8;
    border-radius: 5px;
    width: 150px;
    position: absolute;
    z-index: 1000;
    display: none;
}

.context-menu-item:first-child {
    border-radius: 5px 5px 0 0;
}

.context-menu-item {
    padding: 5px;
}

.context-menu-item:last-child {
    border-radius: 0 0 5px 5px;
}

.context-menu-item:hover {
    background-color: #bbbbbb;
    cursor: pointer;
}