@import '../../node_modules/bootstrap/dist/css/bootstrap.css';

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
}

.content-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.login-form-container {
    margin: auto;
}