@import '../node_modules/bootstrap/dist/css/bootstrap';
@import '../node_modules/font-awesome/css/font-awesome';

html,
body {
  height: 100%;
}
body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}

.form-error {
    color: red;
}

.openned-sidebar .sidebar {
    width: 230px;
}

.openned-sidebar .content-wrapper {
    width: calc(100% - 230px);
}

.closed-sidebar .sidebar {
    width: 50px;
}

.closed-sidebar .sidebar-item-name {
    display: none;
}

.closed-sidebar .treeview-menu {
    display: none !important;
}

.closed-sidebar .sidebar-angle-button-container {
    display: none;
}

.closed-sidebar .content-wrapper {
    width: calc(100% - 50px);
}

@media (max-width:550px) {
    .openned-sidebar .content-wrapper {
        display: none;
    }

    .openned-sidebar .sidebar {
        width: 100%;
    }

    .closed-sidebar .content-wrapper {
        width: 100%
    }

    .closed-sidebar .sidebar {
        display: none;
    }
}

.wrapper {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.article {
    display: flex;
    min-height: 100vh;
}

.btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
}



.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030;
    display: flex;
}

.main-header .navbar {
    background-color: #3c8dbc;
    margin-bottom: 0;
    border: none;
    min-height: 50px;
    border-radius: 0;
    width: 100%;
}

.main-header .logo {
    background-color: #367fa9;
    color: #fff;
    border-bottom: 0 solid transparent;
    display: block;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 230px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    overflow: hidden;
}

.main-header .navbar .sidebar-toggle {
    color: #fff;
    background-color: transparent;
    background-image: none;
    font-family: fontAwesome;
}

.main-header .navbar .nav>li>a {
    color: #fff;
}

.main-header .navbar .nav>li>a>.label {
    position: absolute;
    top: 9px;
    right: 7px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
    background-color: #00a65a !important;
}















.sidebar {
    padding-bottom: 10px;
    background-color: #222d32;
    min-height: 100%;
    width: 230px;
    z-index: 810;
}

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-menu>li {
    position: relative;
    margin: 0;
    padding: 0;
}

.sidebar-menu>li.menu-open  .fa-angle-right {
    transform: rotate(90deg);
}

.sidebar-menu>li>a {
    position: relative;
    padding: 12px 5px 12px 15px;
    display: block;
    border-left: 3px solid transparent;
}

.sidebar-menu>li.active>a {
    border-left-color: #3c8dbc;
    color: #fff;
    background: #1e282c;
}

.sidebar-menu .treeview-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px;
    display: none;
}

.sidebar-menu .menu-open .treeview-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px;
    display: block;
}

.sidebar-menu .treeview-menu>li>a {
    position: relative;
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 14px;
    color: #8aa4af;
}

.sidebar-menu .treeview-menu>li>a:hover {
    color: #fff;
}

.sidebar-menu>li .sidebar-angle-button-container {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -7px;
}











.content-header {
    height: 43px;
}

.content-wrapper {
    background-color: #ecf0f5;
    z-index: 800;
}

.content-header {
    background: transparent;
    position: relative;
    padding: 15px 15px 0 15px;
}

.content-header>h1 {
    margin: 0;
    font-size: 24px;
}

.content-header>h1>small {
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300;
}

.content-header>.breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 30px;
    border-radius: 2px;
}

.content-header>.breadcrumb>li>a {
    color: #444;
    text-decoration: none;
    display: inline-block;
}

.content-header>.breadcrumb>li>a>.fa {
    margin-right: 5px;
}

.content-header>.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box.box-success {
    border-top-color: #00a65a;
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}
.box-header>.box-tools {
    float: right;
    margin-top: -5px;
    margin-bottom: -5px;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
}



.bg-aqua {
    background-color: #367fa9;
}

.info-box {
    display: flex;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.info-box-icon {
    width: 90px;
    height: 90px;
    display: flex;
    color: #fff;
    border-radius: 3px 0 0 3px;
}

.info-box-icon svg {
    margin: auto;
}

.info-box-content-container {
    width: calc(100% - 110px);
    margin: 10px;
}